:root {
  --clr-body:rgb(240, 248, 255);
  --clr-font:rgb(0, 0, 0);
  --clr-text:rgb(128, 126, 126);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

body {
    background-color: var(--clr-body);
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//* NAVBAR *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menuPrincipal {
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 20px 20px 20px 500px;
}

.menuPrincipal img {
    align-items: center;
}

.menuPrincipalLista{
    display: flex;
    justify-content: center;
}

.menuPrincipalLista li {
  margin: 0 30px;
}

.menuPrincipalLista a {
  position: relative;
  display: block;
  padding: 2px;
}

.menuPrincipalLista a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(46, 46, 46), rgb(93, 93, 93));
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.menuPrincipalLista a:hover::before {
  transform: scaleX(1);
}
ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    list-style: none;
    color: var(--clr-font);
    text-transform: uppercase;
}

.selected a {
  color: var(--clr-font);
  font-weight: 700;
}

.log {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 20px;
}

.botonLog {
  border: none; 
  color: var(--clr-font);
  background-color: var(--clr-body);
  padding-left: 5px;
  cursor:pointer;
}

.botonLog:hover {
  border: none; 
  color: var(--clr-font);
  background-color: var(--clr-body);
  box-shadow: none;
}

/*  *//*  *//*  *//*  *//*  *//*  *//* BODY *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */


.nombre {
    color: var(--clr-font);
}

.cabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 200px 0;
}

.titulo {
  padding-left: 150px;
  font-size: 3rem;
}

.titulo p {
  color: var(--clr-text);
}

.marca {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.modelo p {
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--clr-text);
  text-align: center;
}

.modelo a {
  text-decoration: none;
  color: var(--clr-font);
}

.modelo a:hover {
  text-decoration: underline;
}

#publicidad {
  display: flex;
  justify-content:space-evenly;
  margin: 50px;
}

#publicidad img {
  transform: scale(1);
  transition: transform 0.5s ease-out, box-shadow 0.5s ease-out, border-radius 0.5s ease-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

#publicidad img:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
  border-radius: 15px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.seccion {
  margin: 150px 0 0 150px;
  font-size: 1.3rem;
}

.seccion p {
  color: var(--clr-text);
}

/*  *//*  *//*  *//*  *//*  *//*  *//* BOTONES *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

#botones {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  margin: 100px 0 200px 0;
}

.botones {
  border: 0.5px solid rgb(186, 186, 186);
  padding: 20px;
  border-radius: 15px;
  height: 200px;
  width: 200px;
}

.botones:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
  border-radius: 15px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}

.botones p {
  margin-top: 10px;
  color: var(--clr-font);
}

.botones a {
  text-decoration: none;
}

.botones h3 {
  color: var(--clr-font);
}

#auriculares {
  font-weight: 700;
  color: rgb(16, 209, 113);
}

#regalo {
  font-weight: 700;
  color: rgb(142, 140, 39);
}

#tarjeta {
  font-weight: 700;
  color: rgb(28, 84, 255);
}

/*  *//*  *//*  *//*  *//*  *//*  *//* FOOTER *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.footer {
  position: relative;
  height: 200px;
  background-color: rgb(53, 53, 53);
}

.redes {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.redes a {
  padding-left: 5px;
  text-decoration: none;
}

.item1 {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.item1 a {
  text-decoration: none;
}

.item2 {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.item2 a {
  text-decoration: none;
}

.item3 {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.item3 a {
  text-decoration: none;
}

h4 {
  margin-bottom: 15px;
  color: var(--clr-text);
}

h5 {
  color: rgb(255, 255, 255);
}

h5:hover {
  color: rgb(141, 141, 141);
}

/*  *//*  *//*  *//*  *//*  *//*  *//* BOTON WHATSAPP *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.whatsapp {
  position: fixed;
  bottom: 10%;
  right: 1%;
}

.whatsapp a {
  text-decoration: none;
}

.whatsapp p {
  color: var(--clr-font);
  background-color: var(--clr-body);
  margin-top: 5px;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
}

/*  *//*  *//*  *//*  *//*  *//*  *//* PAGINA EN CONSTRUCCION *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

#construccion {
  background: url(../assets/images/en_desarrollo.png) no-repeat center;
}

/*  *//*  *//*  *//*  *//*  *//*  *//* PAGINA NOSOTROS *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

#tituloNosotros {
  text-align: center;
  font-size: 3rem;
  color: var(--clr-text);
  padding: 100px 0;

}

.nosotros {
  display: flex;
  flex-direction: row;
}

.nosotrosParrafo {
  font-size: 1rem;
  padding: 50px;
  text-align: justify;
}

.nosotros img {
  margin: 20px;
}

/*  *//*  *//*  *//*  *//*  *//*  *//* PAGINA CONTACTO *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

#mainContacto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 95vh;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(53, 53, 53);
}

#tituloContacto {
  color: rgb(255, 255, 255);
}

#tituloContacto2 {
  color: rgb(255, 255, 255);
}

#parrafoContacto {
  color: rgb(255, 255, 255);
  margin: 20px 100px;
  text-align:justify;
}

#formulario {
  width: 60%;
}

form {
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 300px;
  height: 30px;
  background-color: var(--clr-body);
  border-style: none;
  border-bottom-style: double;
}

input:focus {
  outline: none;
}

textarea {
  width: 300px;
  background-color: var(--clr-body);
}

#enviar {
  border: none; 
  color: rgb(255, 255, 255); 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px; 
  margin: 5px;
  background-color: rgb(53, 53, 53);
  transition: box-shadow 0.3s ease-in-out;
}

#enviar:hover {
  color: var(--clr-font);
  background-color: rgb(175, 175, 175);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

#estamos {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

/*  *//*  *//*  *//*  *//*  *//*  *//* PAGINA CATALOGO *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.mainCompras {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside {
  padding: 2rem;
  position: sticky;
  top: 0;
  /* height: 100vh; */
}

.items {
  background-color: var(--clr-text);
  margin: 10px;
  margin-left: 0;
  border-radius: 20px;
  padding: 20px;
}

.contenedorProductos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.productoImagen {
  max-width: 100%;
  border-radius: 30px;
}

.productoInfo {
  background-color: var(--clr-body);
}